#container {
    width: 600px;
    height: 300px;
    display: flex;
}
.item {
    width: 300px;
    height: 300px;
    background: lightblue;
    border:  20px solid grey;
    padding: 30px;
    box-sizing: border-box;
}
.inner-item {
    width: 200px;
    height: 200px;
    background: lightgreen;
}
#footer {
    background: blue;
    color: white;
    width: 400px;
    height: 200px;
}