input {
    border: 1px;
    background: white;
}
button {
    background: blue;
    color: white;
    border-radius: 12px;

}
form {
    position: absolute;
    background: white;
    border: 2px solid blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
div {
    background: crimson;
    width: 100vw;
    height: 100vh;
}